### Regressão Linear

In [2]:
# importação e configuração para manipulação dos dados
import pandas as pd
pd.set_option('display.max_columns', 21)

In [3]:
# importação do dataset para um variavel
house_data = pd.read_csv('./datasets/kc_house_data.csv')

In [4]:
# primeiros registros
house_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
# retirando variaveis que não serão utilizadas
house_data.drop('id',
                axis= 1,
                inplace= True)

house_data.drop('date',
                axis= 1,
                inplace= True)

house_data.drop('zipcode',
                axis= 1,
                inplace= True)

house_data.drop('lat',
                axis= 1,
                inplace= True)

house_data.drop('long',
                axis= 1,
                inplace= True)

In [6]:
# registros após as modificações
house_data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [7]:
# definindo variaveis
y = house_data['price']
x = house_data.drop('price', axis= 1)

In [8]:
# separação dos dados de treino e teste
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, 
                                                        test_size= 0.30,
                                                        random_state= 14)

In [9]:
# importando modelo
from sklearn.linear_model import LinearRegression
modelo = LinearRegression()

In [10]:
# Treinamento do modelo
modelo.fit(x_treino, y_treino)
resultado = modelo.score(x_teste, y_teste)
print(resultado)

0.653809419628106

#### Ridge

In [11]:
# peso maor para regularização  ( ^2)

# importação do modelo Ridge
from sklearn.linear_model import Ridge

# treinamento
modeloRidge = Ridge(alpha= 10)
modeloRidge.fit(x_treino, y_treino)

# resultado do score
resultadoRidge = modeloRidge.score(x_teste, y_teste)
print(resultadoRidge)

0.6545037069731696

#### Lasso

In [12]:
# importação do modelo Lasso
from sklearn.linear_model import Lasso

# treinamento
modeloLasso = Lasso(alpha= 10,       # valor que multiplica o peso na função
                    max_iter= 1000,  # iterações do modelo
                    tol= 0.1)        # tolerancia de otimização

modeloLasso.fit(x_treino, y_treino)

# resultado do score
resultadoLasso = modeloLasso.score(x_teste, y_teste)
print(resultadoLasso)

0.6538322613120117

#### Elastic Net

In [14]:
# importação do modelo ElasticNet
from sklearn.linear_model import ElasticNet

# treinamento
modeloElasticNet = ElasticNet(alpha= 1,       # valor que multiplica o peso na função
                              l1_ratio= 0.9,  # correspondente ao peso usao em L1(Lasso)
                              tol= 0.2,       # tolerancia de otimização
                              max_iter= 5000) # iterações do modelo

modeloElasticNet.fit(x_treino, y_treino)

# resultado do score
resultadoElasticNet = modeloElasticNet.score(x_teste, y_teste)
print(resultadoElasticNet)

0.6429961330013111

#### Comparação dos modelos

In [27]:
def modelosRegressao(a, b, c, d):
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet
    
    x_treino = a
    y_treino = b
    x_teste = c
    y_teste = d
     
    reg = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()
    
    reg.fit(x_treino, y_treino)
    ridge.fit(x_treino, y_treino)
    lasso.fit(x_treino, y_treino)
    elastic.fit(x_treino, y_treino)
    
    resul_reg = reg.score(x_teste, y_teste)
    resul_ridge = ridge.score(x_teste, y_teste)
    resul_lasso = lasso.score(x_teste, y_teste)
    resul_elastic = elastic.score(x_teste, y_teste)
    
    print(f' Regressão Linear: {resul_reg},\n Regressão Ridge: {resul_ridge},\n Regressão Lasso: {resul_lasso},\n Regressão ElasticNet: {resul_elastic}')

In [28]:
modelosRegressao(x_treino, y_treino, x_teste, y_teste)

c:\Users\Caíque Miranda\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.329e+14, tolerance: 2.093e+11
  model = cd_fast.enet_coordinate_descent(

 Regressão Linear: 0.653809419628106,
 Regressão Ridge: 0.6539029726255621,
 Regressão Lasso: 0.653811715690852,
 Regressão ElasticNet: 0.6241134858939881

c:\Users\Caíque Miranda\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.280e+14, tolerance: 2.093e+11
  model = cd_fast.enet_coordinate_descent(

link dataset: https://www.kaggle.com/datasets/mohansacharya/graduate-admissions

### FIM.